:root {
    --bg-primary: #000000;
    --bg-nav: rgba(22, 22, 23, .8);
    --text-dark: #1D1D1F;
    --text-light: #FFFFFF;
    --text-color: #F5F5F7;
    --link-color: #2997FF;
    --paragraf-color: #6E6E73;
    --spirited-main-color: #DED2B9;

}

header {
    background-color: var(--bg-nav);
    color: var(--text-color);
    height: fit-content;
    width: 100%;
    opacity: 0.9;
    position: fixed;
    top: 0;
    z-index: 1;
}

header nav ul {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem;
}

header nav ul li {
    min-width: fit-content;
    height: fit-content;
    padding: 0 0.75rem;
    font-size: 0.8rem;
    cursor: pointer;

    list-style: none;
}
main {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
main section{
    text-align: center;
    position: relative;
}

main section img {
    width: 100%;
    height: auto;
    
}

main section h1 {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: bold;
    line-height: 4rem;
    letter-spacing: 0.28px;
}

main section h2 {
    color: var(--paragraf-color);
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 2rem;
    letter-spacing: 0.11px;
    margin-bottom: 1rem;
}

main section sub {
    font-size: 0.9rem;
}

main section a {
    color: var(--link-color);
    line-height: 1.8rem;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
}

main section a:hover {
    text-decoration: underline;
}

main section img {
    width: 100%;
    height: auto;
}

main section .text-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

main .spirited-section > div {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

main .spirited-section > div:last-child {
    bottom: 40px;
}

main .spirited-section > div:first-child {
    top:  105px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 70%;
}

main .spirited-section > div:first-child p {
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: var(--spirited-main-color);
    letter-spacing: -0.6px;
}   

main .spirited-section p{
    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.11px;
}

main .spirited-section span {
    color: var(--text-light);
    font-size: 1.2rem;
    line-height: 1.5rem;
    display: block;
    letter-spacing: 0.23px;
}

main .iphone-section h2 {
    color: var(--text-dark);
    font-size: 3rem;
    font-weight: bold;
    line-height: 2rem;
    letter-spacing: -0.28px;
}

main .iphone-section p {
    color: var(--text-dark);
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.5rem;
    letter-spacing: 0.11px;
    margin-bottom: 0.7rem;
}

main .iphone-section .link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

main .iphone-section .text-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 91px;
}

main .seletor-1 {
    display: flex;
    width: 50%;
    height: auto;
    position: absolute;
    right: 50%;   
}
main section .text-wrapper2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .seletor-1 .text-wrapper2 h2 {
    color: var(--text-color);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
    margin: 10px auto;
}

main .seletor-1 .text-wrapper2 p {
    color: #F5F5F7;
    text-align: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.336px;
}

main .seletor-1 .link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
    
}
main .section-3 .section-4 {
    width: 100%;
    height: 100%;
    position: absolute;
}

main .seletor-2 { 
    width: 50%;
    height: auto;
    position: absolute;
    left: 50%; 
    
}

main .seletor-2 .text-wrapper2 h2 {
    color: var(--text-dark);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
    margin: 10px auto;
}

main .seletor-2 .text-wrapper2 p {
    color: var(--text-dark);
    text-align: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.336px;
}

main .seletor-2 .link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
    
}

main .seletor-3 {
    display: flex;
    width: 50%;
    height: auto;
    position: absolute;
    right: 50%;   
}
main section .text-wrapper3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .seletor-3 .text-wrapper3 h2 {
    color: var(--text-color);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
    margin: 10px auto;
}

main .seletor-3 .text-wrapper3 p {
    color: #F5F5F7;
    text-align: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.336px;
}

main .seletor-3 .link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
    
}

main .seletor-4 { 
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%; 
    
}

main .seletor-4 .text-wrapper3 h2 {
    color: var(--text-dark);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
    margin: 10px auto;
}

main .seletor-4 .text-wrapper3 p {
    color: var(--text-dark);
    text-align: center;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    letter-spacing: 0.336px;
}

main .seletor-4 .link-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
    
}







